<%- include('partials/header') %> 

<div class="container">
    <div class="row my-3">
        <div class="table-responsive">
            <a href="artists/new" class="btn btn-primary">Add New Artist</a>
            <table class="table table-striped text-center">
                <thead>
                    <tr class="table-dark" width="200px">
                        <th>Rank</th>
                        <th>Artist</th>
                        <th>Creations</th>
                        <th>Owned NFTs</th>
                        <th>Liked</th>
                        <th>About</th> 
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <% artists.forEach((artist, index) => { %> 
                    <tr>
                        <td> <%=index + 1 %> </td>
                        <td> <%= artist.name %> </td>
                        <td> <%= artist.creations %> </td>
                        <td> <%= artist.owned %> </td>
                        <td> <%= artist.liked %> </td>
                        <td> <%= artist.about %> </td>
                        <td>
                            <form action="/artist/<%= artist.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                            </form>
                        </td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 