<%- include('partials/header') %> 

<div class="container">
    <div class="row my-3">
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr class="table-dark">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Floor Price</th>
                        <th>Current Price</th>
                        <th>Owners</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% nfts.forEach( NFT => { %> 
                    <tr class="align-middle">
                       <td><img src=" <%= NFT.img %> " width="60" class="img-thumbnail"></td>
                        <td> <%= NFT.name %> </td>
                        <td> <%= NFT.floorPrice %> ETH </td>
                        <td> <%= NFT.currentPrice %> ETH </td>
                        <td> <%= NFT.owners %> </td>
                        <td>
                            <a href="/edit/<%= NFT._id %> " class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <form action="<%= NFT._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                            </form>
                        </td>
                    </tr>
                    <% }) %> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 